<html xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml'
  xmlns:o='urn:schemas-microsoft-com:office:office'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link
    href='https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;500;600;700&family=Poppins:ital,wght@0,300;0,700;1,600&display=swap'
    rel='stylesheet' />
  <title>Document</title>
</head>

<body>
  <pre>
    <h1 style="margin: 0">Resultado &gt; {{total}} {{message}}</h1>
    <h4 style="margin: 0">
      Universidade avaliada: {{university}}
    </h4>

</br>
<table style="width: 100%; border-spacing: 0; display: block; margin-top: -100px;">
  <tbody>
    <tr>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="display: block;margin-bottom: 16px"><h1 style="margin: 0">Institucional</h1></td>
            </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Organograma</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.institutional.organogram.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.organogram.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.institutional.organogram.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.organogram.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.institutional.organogram.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.organogram.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.institutional.organogram.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.organogram.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.institutional.organogram.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.organogram.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.institutional.organogram.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.organogram.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="display: block;">
                {{empty}}
              </td>
            </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Estatuto e Regimento Inst.</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.institutional.statute.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.statute.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.institutional.statute.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.statute.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.institutional.statute.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.statute.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.institutional.statute.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.statute.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.institutional.statute.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.statute.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.institutional.statute.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.statute.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
          <tr>
            <td style="display: block;">
              {{empty}}
            </td>
          </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Departamentos</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.institutional.departaments.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.departaments.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.institutional.departaments.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.departaments.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.institutional.departaments.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.departaments.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.institutional.departaments.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.departaments.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.institutional.departaments.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.departaments.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.institutional.departaments.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.institutional.departaments.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table style="width: 100%; border-spacing: 0; display: block; margin-top: -100px;">
  <tbody>
    <tr>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="display: block;margin-bottom: 16px"><h1 style="margin: 0">Ações e programas</h1></td>
            </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Cartas de Serviços ao usuário</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.actions_softwares.userServicesCharter.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.userServicesCharter.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.actions_softwares.userServicesCharter.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.userServicesCharter.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.actions_softwares.userServicesCharter.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.userServicesCharter.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.actions_softwares.userServicesCharter.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.userServicesCharter.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.actions_softwares.userServicesCharter.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.userServicesCharter.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.actions_softwares.userServicesCharter.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.userServicesCharter.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="display: block;">
                {{empty}}
              </td>
            </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Relátorios de gestão</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.actions_softwares.managementReports.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.managementReports.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.actions_softwares.managementReports.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.managementReports.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.actions_softwares.managementReports.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.managementReports.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.actions_softwares.managementReports.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.managementReports.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.actions_softwares.managementReports.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.managementReports.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.actions_softwares.managementReports.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.managementReports.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
          <tr>
            <td style="display: block;">
              {{empty}}
            </td>
          </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Plano de Desenvolvimento Institucional (PDI)</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.actions_softwares.institutionalDevelopmentPlan.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.institutionalDevelopmentPlan.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.actions_softwares.institutionalDevelopmentPlan.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.institutionalDevelopmentPlan.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.actions_softwares.institutionalDevelopmentPlan.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.institutionalDevelopmentPlan.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.actions_softwares.institutionalDevelopmentPlan.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.institutionalDevelopmentPlan.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.actions_softwares.institutionalDevelopmentPlan.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.institutionalDevelopmentPlan.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.actions_softwares.institutionalDevelopmentPlan.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.actions_softwares.institutionalDevelopmentPlan.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table style="width: 100%; border-spacing: 0; display: block; margin-top: -100px;">
  <tbody>
    <tr>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="display: block;margin-bottom: 16px"><h1 style="margin: 0">Estudantes</h1></td>
            </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Cursos de graduação e pós-graduação ofertados</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.students.undergraduatePostgraduateCoursesOffered.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.undergraduatePostgraduateCoursesOffered.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.students.undergraduatePostgraduateCoursesOffered.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.undergraduatePostgraduateCoursesOffered.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.students.undergraduatePostgraduateCoursesOffered.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.undergraduatePostgraduateCoursesOffered.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.students.undergraduatePostgraduateCoursesOffered.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.undergraduatePostgraduateCoursesOffered.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.students.undergraduatePostgraduateCoursesOffered.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.undergraduatePostgraduateCoursesOffered.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.students.undergraduatePostgraduateCoursesOffered.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.undergraduatePostgraduateCoursesOffered.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="display: block;">
                {{empty}}
              </td>
            </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Quantidade de alunos de graduação e pós-graduação</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.students.numberOfUndergraduateAndPosStudents.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.numberOfUndergraduateAndPosStudents.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.students.numberOfUndergraduateAndPosStudents.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.numberOfUndergraduateAndPosStudents.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.students.numberOfUndergraduateAndPosStudents.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.numberOfUndergraduateAndPosStudents.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.students.numberOfUndergraduateAndPosStudents.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.numberOfUndergraduateAndPosStudents.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.students.numberOfUndergraduateAndPosStudents.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.numberOfUndergraduateAndPosStudents.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.students.numberOfUndergraduateAndPosStudents.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.numberOfUndergraduateAndPosStudents.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
          <tr>
            <td style="display: block;">
              {{empty}}
            </td>
          </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Auxílio financeiro</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.students.financialAid.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.financialAid.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.students.financialAid.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.financialAid.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.students.financialAid.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.financialAid.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.students.financialAid.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.financialAid.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.students.financialAid.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.financialAid.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.students.financialAid.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.students.financialAid.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table style="width: 100%; border-spacing: 0; display: block; margin-top: -100px;">
  <tbody>
    <tr>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="display: block;margin-bottom: 16px"><h1 style="margin: 0">Recursos Humanos</h1></td>
            </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Quantitativo de professores efetivos</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.humanResources.numberOfActiveTeachers.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.numberOfActiveTeachers.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.humanResources.numberOfActiveTeachers.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.numberOfActiveTeachers.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.humanResources.numberOfActiveTeachers.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.numberOfActiveTeachers.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.humanResources.numberOfActiveTeachers.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.numberOfActiveTeachers.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.humanResources.numberOfActiveTeachers.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.numberOfActiveTeachers.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.humanResources.numberOfActiveTeachers.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.numberOfActiveTeachers.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="display: block;">
                {{empty}}
              </td>
            </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Quantitativo de professores estrangeiros</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.humanResources.numberOfForeignTeachers.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.numberOfForeignTeachers.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.humanResources.numberOfForeignTeachers.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.numberOfForeignTeachers.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.humanResources.numberOfForeignTeachers.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.numberOfForeignTeachers.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.humanResources.numberOfForeignTeachers.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.numberOfForeignTeachers.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.humanResources.numberOfForeignTeachers.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.numberOfForeignTeachers.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.humanResources.numberOfForeignTeachers.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.numberOfForeignTeachers.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
          <tr>
            <td style="display: block;">
              {{empty}}
            </td>
          </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Quantitativo de pessoal apoio administrativo</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.humanResources.quantitativeAdministrativeSupport.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.quantitativeAdministrativeSupport.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.humanResources.quantitativeAdministrativeSupport.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.quantitativeAdministrativeSupport.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.humanResources.quantitativeAdministrativeSupport.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.quantitativeAdministrativeSupport.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.humanResources.quantitativeAdministrativeSupport.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.quantitativeAdministrativeSupport.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.humanResources.quantitativeAdministrativeSupport.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.quantitativeAdministrativeSupport.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.humanResources.quantitativeAdministrativeSupport.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.humanResources.quantitativeAdministrativeSupport.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table style="width: 100%; border-spacing: 0; display: block; margin-top: -100px;">
  <tbody>
    <tr>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="display: block;margin-bottom: 16px"><h1 style="margin: 0">Informações Econômicas</h1></td>
            </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Diárias e Passagens</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.economicInformation.anualBudget.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.anualBudget.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.economicInformation.anualBudget.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.anualBudget.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.economicInformation.anualBudget.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.anualBudget.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.economicInformation.anualBudget.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.anualBudget.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.economicInformation.anualBudget.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.anualBudget.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.economicInformation.anualBudget.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.anualBudget.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="display: block;">
                {{empty}}
              </td>
            </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Receitas</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.economicInformation.revenues.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.revenues.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.economicInformation.revenues.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.revenues.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.economicInformation.revenues.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.revenues.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.economicInformation.revenues.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.revenues.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.economicInformation.revenues.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.revenues.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.economicInformation.revenues.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.revenues.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding: 0.5rem; vertical-align: top;">
        <table style="border-spacing: 0;">
          <tbody>
          <tr>
            <td style="display: block;">
              {{empty}}
            </td>
          </tr>
            <tr>
              <td style="display: block;margin-bottom: 16px"><u>Despesas</u></td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Abrangência: {{poll.economicInformation.expenses.coverage.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.expenses.coverage.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Atualidade: {{poll.economicInformation.expenses.present.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.expenses.present.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessível: {{poll.economicInformation.expenses.accessible.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.expenses.accessible.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Acessibilidade: {{poll.economicInformation.expenses.accessibility.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.expenses.accessibility.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Clareza: {{poll.economicInformation.expenses.clarity.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.expenses.clarity.observation}}</td>
            </tr>
          </tbody>
        </table>
        <table style="border-spacing: 0;">
          <tbody>
            <tr>
              <td style="font-weight: bold;">Reutilização: {{poll.economicInformation.expenses.reusability.value}}</td>
            </tr>
            <tr>
              <td>Obs (se houver): {{poll.economicInformation.expenses.reusability.observation}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

</pre>
</body>

</html>